/* .lists{
  background-color: gray;
  text-align: center;
  font-size: large;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  color:black;
}

.image{
  height:50%;
  width:60%;
}
.button{
  padding-top: 1rem;
  border:none;
  font-size: x-large;
  background-color: gray;
  cursor: pointer;
} */
