/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Graduate&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
    margin: 0;
    width:100vw;
    height:100vh;
    font-family: 'Ubuntu', sans-serif;
  }

.nav {
  font-size: 30px;
}
  
#requiredInputWarning {
  color:red;
}